<br><br><br>
<div class="w3-container c1 w3-hide-large">
  <h3 class="w3-center "> <strong>SHIRTS</strong></h3>
</div>
<br>
<div class="dropdown w3-right" style="padding-right:25px; padding-top:10px;">
  <button type="button" class="btn w3-black dropdown-toggle" data-toggle="dropdown">
    Categories
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#mens">Kids Casual</a>
  </div>
  </div>
    
  
<!--sample-->
<body class="w3-content" style="max-width:1200px">
  <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay">
  </div>
  <br>
    <div class="w3-container w3-text-grey" id="mens">
      <p>Kids</p>
    </div>
    <br><br>
  <!-- Product grid Large-->
  <div class="w3-container-fluid">
    <div class="w3-col l3  s6" id="myBtn">
      <div class="w3-container">
        <img src="/assets/img/c1.jpg"  class="swap">
        <div style="margin-left: 30px;">
          <p>Design No : <b>110</b><br>Rs. 759-959 /-</p>
          <button (click)="addToCart('141')" class="btn-secondary">Add to cart</button>
        </div>
      </div><br>
      <div class="w3-container">
        <img src="/assets/img/c2.jpg"  class="swap">
        <div style="margin-left: 30px;">
          <p>Design No : <b>120</b><br>Rs. 759 - 959 /-</p>
          <button (click)="addToCart('142')" class="btn-secondary">Add to cart</button>
        </div>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="/assets/img/c3.jpg"  class="swap">
        </div>
        
        <div style="margin-left: 30px;">
          <p>Design No: <b>130</b><br>Rs. 759 - 959 /-</p>
          <button (click)="addToCart('143')" class="btn-secondary">Add to cart</button>
        </div>
      </div><br>
      <div class="w3-container">
        <img src="/assets/img/c4.jpg"  class="swap">
        
        <div style="margin-left: 30px;">
          <p>Design No: <b>140</b><br>Rs. 759 - 959 /-</p>
          <button (click)="addToCart('144')" class="btn-secondary">Add to cart</button>
        </div>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="/assets/img/c5.jpg"  class="swap">
       
        <div style="margin-left: 30px;">
          <p>Design No: <b>150</b><br>Rs. 759 - 959 /-</p>
          <button (click)="addToCart('145')" class="btn-secondary">Add to cart</button>
        </div>
      </div><br>
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="/assets/img/c6.jpg"   class="swap">
        </div>
        <div style="margin-left: 30px;">
          <p>Design No: <b>160</b><br>Rs. 759 - 959 /-</p>
          <button (click)="addToCart('146')" class="btn-secondary">Add to cart</button>
        </div>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="/assets/img/c7.jpg" class="swap">
        <div style="margin-left: 30px;">
          <p>Design No: <b>170</b><br>Rs. 759 - 959 /-</p>
          <button (click)="addToCart('147')" class="btn-secondary">Add to cart</button>
        </div>
      </div><br>
      <div class="w3-container">
        <img src="/assets/img/c8.jpg"  class="swap">
        <div style="margin-left: 30px;">
          <p>Design No: <b>180</b><br>Rs. 759 - 959 /-</p>
          <button (click)="addToCart('148')" class="btn-secondary">Add to cart</button>
        </div>
      </div>
    </div>
</div>
<br><br>

<div class="w3-container   w3-centered">
  <h3><i>Sizes available:</i></h3><br>
 <table class="w3-table-all w3-card-4">
    <tr>
      <th></th>
      <th>Children</th>
      

    </tr>
    <tr>
      <th>Sizes:</th>
      <td>3 - 12</td>
     

    </tr>

  </table>

  <div class="container-fluid" style="margin-top: 40px; font-family: 'Times New Roman', Times, serif; font-size: medium; background-color:white ;margin-top: 30px">
    <hr>
    <div class="row" style="padding-left: 0%;">
        <div class="col-md-7">

       <h3 style="font-size: small;"><strong>Shopping at Triple M</strong></h3>
       <p style="font-size: small;">For retail purchase visit the store & look for all the latest products.<br>
       For whole purchase you can give order through mobile no. 9087879922 or 9087879911. <br>
       For order enquiry please contact the landline no : 0427-2240950 or above mentioned number.<br>
       The above display products may vary with the original products.<br>
       Please check the availability of the product before giving the order.<br>
       For Retail purchase enquiry Please contact whatsapp number.9486226185.<br> 
       </p>
       </div>
       <div class="col-md-5">
        <h3 style="font-size: small;"><strong>Casual & Formal Collections</strong></h3>
        <p style="font-size: small;">The above shown products are only the sample , more design are at stores<br>
          Bulk order are undertaken in all designs.<br>
          Original products may differ from the above displayed images.<br>
          For price & orders please contact the store.

        </p>
       </div>

       </div>
   </div>
   <br>
</div>

<hr>



<script>

function myAccFunc() {
  var x = document.getElementById("demoAcc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}


function myAccFun() {
  var x = document.getElementById("demoAc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>