
<br><br><br>
<div class="w3-container w3-hide-large ">
  <h3 class="w3-center "> <strong>Traditional Collections </strong></h3>
</div>
    <div class="dropdown w3-right" style="padding-right:25px; padding-top:50px;">
    <button type="button" class="btn w3-black dropdown-toggle" data-toggle="dropdown">
      Categories
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#mens">Mens</a>
      <a class="dropdown-item" href="#kids">Kids</a>
    </div>
    </div>
    

  
<!--sample-->
<body class="w3-content" style="max-width:1200px">

  
  <!-- !PAGE CONTENT! -->
  <div class="w3-main" >
   <div class="w3-container w3-text-grey" id="mens">
      <p>Mens <a  title="Men's Traditional" data-toggle="popover" data-trigger="hover" data-content="Each set consists of 34 - 44 Size"><i class="fa fa-info-circle" aria-hidden="true"></i></a></p>
      
    </div>
  <!-- Product grid Large-->
  <div class="w3-container-fluid w3-hide-small w3-hide-medium" style="text-align: center;">
    <div class="w3-col l3  s6" id="s1">
      <div class="w3-container"  >
        <img src="/assets/img/101set.jpeg" width="180" height="225" class="swap">
       
          <p><b>Men's Set <br>Rs. 599 - 959 /-</b></p>
          <button (click)="addToCart('101')" class="btn-secondary">Add to cart</button>
      </div><br>
      <div class="w3-container">
        <img src="/assets/img/107.jpeg" width="180" height="225" class="swap">
        <p><b>Men's Shirt <br>Rs. 399 - 559 /-</b></p>
        <button (click)="addToCart('105')" class="btn-secondary">Add to cart</button>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="/assets/img/109set.jpeg" width="180" height="225" class="swap">
        </div>
        <p><b>Men's Set <br>Rs. 599-959 /-</b></p>
        <button (click)="addToCart('102')" class="btn-secondary">Add to cart</button>
      </div><br>
      
      <div class="w3-container">
        <img src="/assets/img/106.jpeg" width="180" height="225" class="swap">
        <p><b>Men's Shirt <br>Rs. 399 - 559 /-</b></p>
        <button (click)="addToCart('106')" class="btn-secondary">Add to cart</button>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="/assets/img/113set.jpeg" width="180" height="225" class="swap">
        <p><b>Men's Set <br>Rs. 599 - 959 /-</b></p>
        <button (click)="addToCart('103')" class="btn-secondary">Add to cart</button>
      </div><br>
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="/assets/img/velcore2.jpg"  width="185" height="225" class="swap">
        </div>
        <p><b>Men's velcro <br>Rs. 349 /-</b></p>
        <button (click)="addToCart('107')" class="btn-secondary">Add to cart</button>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="/assets/img/109.jpeg" width="180" height="225" class="swap">
        <p><b>Men's Shirt <br>Rs. 399 - 559 /-</b></p>
        <button (click)="addToCart('104')" class="btn-secondary">Add to cart</button>
      </div><br>
      <div class="w3-container">
        <img src="/assets/img/velcore1.jpg" width="180" height="225" class="swap">
        <p><b>Men's velcro <br>Rs. 349 /-</b></p>
        <button (click)="addToCart('108')" class="btn-secondary">Add to cart</button>
      </div>
    </div>
</div>





  
    


<!--end Sample-->
  



<body class="w3-content" style="max-width:1200px">

  <!-- !PAGE CONTENT! -->
  <div class="w3-main" >
    <div class="w3-container w3-text-grey space" id="kids" >
      <p>Kids <a  title="Kid's Traditional" data-toggle="popover" data-trigger="hover" data-content="Each set consists of 0 to 12 size"><i class="fa fa-info-circle" aria-hidden="true"></i></a></p>
    </div>
    <!--product large-->

    <div class="w3-container-fluid w3-hide-small " style="margin-top: 0px; text-align: center;">
      <div class="w3-col l3  s6" id="myBtn">
        <div class="w3-container">
          <img src="/assets/img/b1.jpeg" width="180" height="225" class="swap">
          <p><b>Kid's Set <br>Rs. 599-759 /-</b></p>
          <button (click)="addToCart('111')" class="btn-secondary">Add to cart</button>
        </div><br>
        <div class="w3-container">
          <img src="/assets/img/b2.jpeg" width="180" height="225" class="swap">
          <p><b>Kid's Set <br>Rs. 599-759 /-</b></p>
          <button (click)="addToCart('115')" class="btn-secondary">Add to cart</button>
        </div>
      </div>
  
      <div class="w3-col l3 s6">
        <div class="w3-container">
          <div class="w3-display-container">
            <img src="/assets/img/b3.jpeg" width="180" height="225" class="swap">
          </div>
          <p><b>Kid's Set  <br>Rs. 599-759 /-</b></p>
          <button (click)="addToCart('112')" class="btn-secondary">Add to cart</button>
        </div><br>
        <div class="w3-container">
          <img src="/assets/img/b4.jpeg" width="180" height="225" class="swap">
          <p><b>Kid's Set  <br>Rs. 599-759 /-</b></p>
          <button (click)="addToCart('116')" class="btn-secondary">Add to cart</button>
        </div>
      </div>
  
      <div class="w3-col l3 s6">
        <div class="w3-container">
          <img src="/assets/img/b5.jpeg" width="180" height="225" class="swap">
          <p><b>Kid's Set  <br>Rs. 599-759 /-</b></p>
          <button (click)="addToCart('113')" class="btn-secondary">Add to cart</button>
        </div><br>
        <div class="w3-container">
          <div class="w3-display-container">
            <img src="/assets/img/b6.jpeg"  width="185" height="225" class="swap">
          </div>
          <p><b>Kid's Set  <br>Rs. 599-759 /-</b></p>
          <button (click)="addToCart('117')" class="btn-secondary">Add to cart</button>
        </div>
      </div>
  
      <div class="w3-col l3 s6">
        <div class="w3-container">
          <img src="/assets/img/b7.jpeg" width="180" height="225" class="swap">
          <p><b>Kid's Set  <br>Rs. 599-759 /-</b></p>
          <button (click)="addToCart('114')" class="btn-secondary">Add to cart</button>
        </div><br>
        <div class="w3-container">
          <img src="/assets/img/b8.jpeg" width="180" height="225" class="swap">
          <p><b>Kid's Set  <br>Rs. 599-759 /-</b></p>
          <button (click)="addToCart('118')" class="btn-secondary">Add to cart</button>
        </div>
      </div>
  </div>
  


    <!--end large-->
    <div class="w3-container-fluid" style="margin-top: 120px;"><br><br>
      <h4 style="margin-top: 50px;">Color Chart:</h4><br>
      <div class="container-fluid w3-hide-small w3-hide-medium">
        <div class="row">
          <div class="col-md-6">
            <img src="/assets/img/chart_traditional.jpg" alt="chart" style="width: 250px; height: 350px;">
          </div>
        </div>
      </div>
      </div>
<br>
<h4>Size chart:</h4><br>
  <table class="w3-table-all w3-card-4">
    <tr>
      <th></th>
      <th>Children</th>
      <th>Mens</th>

    </tr>
    <tr>
      <th> Sizes:</th>
      <td>0 - 12</td>
      <td>34 - 46<br>S  M  L  XL XXL </td>

    </tr>

  </table>
  

  <div class="container-fluid" style="margin-top: 40px; font-family: 'Times New Roman', Times, serif; font-size: medium; background-color:white ;margin-top: 30px">
    <hr>
    <div class="row" style="padding-left: 0%;">
        <div class="col-md-7">

       <h3 style="font-size: small;"><strong>Shopping at Triple M</strong></h3>
       <p style="font-size: small;">For retail purchase visit the store & look for all the latest products.<br>
       For whole purchase you can give order through mobile no. 9087879922. <br>
       For order enquiry please contact the landline no : 0427-2240950 or above mentioned number.<br>
       The above display products may vary with the original products.<br>
       Please check the availability of the product before giving the order.<br>
       For Retail purchase enquiry Please contact whatsapp number.9486226185.<br> 
       </p>
       </div>
       <div class="col-md-5">
           <app-tra-details></app-tra-details>
       </div>

       </div>
   </div>
   <br>
  
    
  
  
</div>







<script>
// Accordion
function myAccFunc() {
  var x = document.getElementById("demoAcc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}


function myAccFun() {
  var x = document.getElementById("demoAc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}


</script>