<!-- <p>cart works!</p> -->

<div style=" margin-top: 150px;">

</div>

<div *ngIf = " list.length == 0"> <h1 style="text-align: center; margin-bottom: 370px;"><b>Cart is Empty !!!</b> </h1></div>
<div *ngFor="let item of list" class="container border" style="margin-bottom: 15px ;">
    <div class="row" style="height: 100px; border-inline: 10px;">
        <div class="col-md-04">
            <img src={{item.url}} style="height: 100px; width:100px;" >
        </div>
        <div class="col-md-10">
            <h5>Name : {{item.name}}</h5>
            
            <p>quantity : 1</p>
            <p>price : {{ item.price}}</p>
        </div>
    </div>
    
</div>
<div *ngIf = " list.length != 0" >
<p style="margin-left: 300px;" >NOTE : Products added will be dispatch only in set.</p>
<button class="btn btn-primary " style="margin-left: 700px;" routerLink='/order'>place order</button>
</div>

<!-- <div class="container" style="margin: 500px;">
<button  (click)="onclickcheck('101')">click me</button>
<br><br>
<button  (click)="onfetch()">Fetch</button>
<br><br>
<button  (click)="ondisplay()">Display</button>
</div> -->